@model IEnumerable<webApi5.Model.books>
@{
    ViewData["Title"] = "Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
    background-color:yellowgreen;
    }
</style>
<center><h1>Description</h1></center>
<div>
     <a asp-action="Get" class="btn btn-secondary">Back to Books</a>
</dib>
<div>
            <h4>HorrorBook</h4>

<section class="items-product1 pt-30">

     <div class="container">

    
        <div class="row">

      
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                      <p>
                  
The Immortals of Meluha, Tripathi's first novel and first in the Shiva Trilogy, was published in February 2010. The second book in the series, The Secret of the Nagas, was released in August 2011, and the third and final installment, titled The Oath of the Vayuputras, was released in February 2013.[5]

The Scion of Ikshvaku was released in June 2015. It is the first book in the Ram Chandra series. It follows the story of Ram and is a prequel to the Shiva Trilogy. The Scion of Ikshvaku won the Crossword Book's "Best Popular Award".[6] Sita: Warrior of Mithila, the sequel to The Scion of Ikshvaku, was released in May 2017. It became the highest-selling book of 2017.[7] Raavan: The Enemy of Aryavarta, the third book in The Ram Chandra series, was released in July 2019. Legend of Suheldev: The King Who Saved India, his first historical book and first book in Indic Chronicles, was released in June 2020.[8]

Tripathi released his first non-fiction book, Immortal India, in August 2017. He also released Dharma: Decoding the Epics for a Meaningful Life in December 2020.[citation needed]

In 2019, Tripathi was appointed by the Government of India as Director of The Nehru Centre, London, in a diplomatic role.[9]

        
       

    </p>
                 </div>
            </div>
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                       <img src="https://5.imimg.com/data5/SELLER/Default/2021/1/IX/WW/VM/121195497/nagas-1--500x500.jpg" class="img-fluid"
            alt=""width="300" height="350">
                 </div>
            </div>
       </div>

       <hr>
            <br>
            <br>


       <div class="row">
           <h4>Romantic Book</h4>
      
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                      <p>
            This guy will do anything for you not to open this book!
Threats, bribes, reverse psychology – you name it!
A hilarious new book from radio extraordinaire and all-round funny guy, Andy Lee.
Young readers will love doing everything they’re asked not to!
   </p>
                 </div>
            </div>
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                       <img src="https://m.media-amazon.com/images/I/516Wxk8nhzL.jpg" class="img-fluid"
            alt=""width="300" height="350">
                 </div>
            </div>
       </div>
              <hr>
                 <br>
                <br>


       <div class="row">
           <h4>Adventure Book</h4>
      
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                      <p>
            The Call of the Wild is a short adventure novel by Jack London, published in 1903 and set in Yukon, Canada, during the 1890s Klondike Gold Rush, when strong sled dogs were in high demand. The central character of the novel is a dog named Buck. The story opens at a ranch in Santa Clara Valley, California, when Buck is stolen from his home and sold into service as a sled dog in Alaska. He becomes progressively more primitive and wild in the harsh environment, where he is forced to fight to survive and dominate other dogs. By the end, he sheds the veneer of civilization, and relies on primordial instinct and learned experience to emerge as a leader in the wild.

London spent almost a year in the Yukon, and his observations form much of the material for the book. The story was serialized in The Saturday Evening Post in the summer of 1903 and was published later that year in book form. The book's great popularity and success made a reputation in London. As early as 1923, the story was adapted to film, and it has since seen several more cinematic adaptations.

        </p>
                 </div>
            </div>
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                       <img src="https://kbimages1-a.akamaihd.net/3d73fdbd-2502-43a4-b98c-f5d0f42b8be1/1200/1200/False/the-call-of-the-wild-344.jpg" class="img-fluid"
            alt=""width="300" height="350">
                 </div>
            </div>
       </div>
              <hr>
            <br>
            <br>

       <div class="row">
           <h4>Mystery Book</h4>
      
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
        <p>
           The Girl on the Train is a 2015 psychological thriller novel by British author Paula Hawkins that gives narratives from three different women about relationship troubles (caused by three coercive/controlling men) and, for the main protagonist, alcoholism.[1] The novel debuted in the number one spot on The New York Times Fiction Best Sellers of 2015 list (print and e-book) dated 1 February 2015,[2] and remained in the top position for 13 consecutive weeks, until April 2015.[3] In January 2016 it became the #1 best-seller again for two weeks. Many reviews referred to the book as "the next Gone Girl", referring to a popular 2012 psychological mystery, by author Gillian Flynn, with similar themes that used unreliable narrators.[4][5]

By early March, less than two months after its release, the novel had sold over one million copies,[6] and an additional half million by April.[7] It occupied the #1 spot of the UK hardback book chart for 20 weeks, the longest any book has ever held the top spot.[8] By early August, the book had sold more than three million copies in the U.S. alone, and, by October 2016, an estimated 20 million copies worldwide;[9] by 2021, the book had sold an estimated 23 million copies worldwide.[10] The audiobook edition, released by Books on Tape, was narrated by Clare Corbett, Louise Brealey and India Fisher. It won the 2016 Audie Award for "Audiobook of the Year". 

        </p>
                 </div>
            </div>
            <div class="col-lg-6 col-md-2 mb-6">
                 <div class="view overlay z-depth-1-half">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR1mfYdlc9OjJLriPop1H3UQ41NpmBUm771z1-EtDOaUw5z2URD" class="img-fluid"
            alt=""width="300" height="350">
                 </div>
            </div>
       </div>
    </div>
</section>
</div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
   
</div>